<% bottom ||= false %>
<% if bottom && @issue.available_responses(User.current).present? %>
  <span>
    <%= form_tag({ action: 'add', controller: 'responses' },
                { id: 'add_response_form' }) do %>
      <%= hidden_field_tag "issue_id", @issue.id %>
      <div class="flex-wrapper">
        <%= select_tag :response_id, options_for_responses_select(@issue) %>
        <%= submit_tag l(:button_send), id: 'add-response-submit', name: :send_response, disabled: true , :onclick => "$('#add-response-submit').attr('disabled', true);editResponseNote();" %>
        <input type="hidden" id="response_new_note" name="response_new_note" value="">
      </div>
    <% end %>
  </span>
<% end %>
<script>
  function editResponseNote() {
    let new_note = '';
    $.post('<%= update_note_responses_path %>', { response_id: $('#response_id :selected').val(), issue_id: $('#issue_id').val() })
      .done(function(data) {
        $('#add-response-submit').attr("disabled", false);       
      });
  }

  $(function () {
    // Here, we can't add class css, because of in prefabricated_responses.css there is style applied to the id
    let array_css = { "background-color": "#007bff", "border-color": "#621313", "color" : "#fff" };
    // if only one choice is available, it should be pre-selected
    if ($('#response_id option').length == 2){
      $('#response_id option:eq(1)').prop('selected', true);
      $('#response_id').trigger('change');
    }
    $('#response_id').change(function (e) {
        e.preventDefault()
      if ($('#response_id :selected').val()) {
        $('#add-response-submit').attr("disabled", false);
        $("#add-response-submit").css(array_css);
      } else {
        $("#add-response-submit").removeAttr('style');
        $('#add-response-submit').attr("disabled", true);
        }
      });
  });
</script>
