<% if @project.present? %>
  <% if User.current.allowed_to?(:create_prefabricated_responses, @project, :global => true) %>
  <h3><%= l(:label_responses) %></h3>
    <%= link_to l(:label_new_response_for_project), new_project_response_path(@project.id) %><br>
    <%= link_to l(:label_all_responses_for_project), project_responses_path(@project.id) %>
  <% end %>
<% else %>
  <h3><%= l(:label_responses) %></h3>
  <%= link_to l(:label_new_response), new_response_path %><br>
  <%= link_to l(:label_all_responses), responses_path %>
<% end %>

